aws_region         = "us-east-1"
environment       = "prod"
project_name      = "scottylabs"
vpc_cidr          = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]
database_name     = "scottylabs"
database_username = "admin"

